.with_border{
    border-style: solid;
    border-radius: 20px;
    font-size: calc(1.5rem + 1vw);
    margin: 20px;
    height: 200px;
}
#caseStudy{
    float: left;
    width:30%;
    text-align: center;
}
#data{
    float: left;
    width:30%;
    text-align: center;
}
#empofMth{
    float: left;
    width:30%;
    text-align: center;
}
#title{
    text-align: center;
}
.butt{
    width:45%;
    align: center;
    font-size: 30px;
}
.inner_mssg{
    font-size: 20px;
    tex-align: left;
}
#bioMech{
    float: left;
    width:30%;
    text-align: center;
    font-size: calc(1.5rem + 1.5vw);
}

#pointsTally{
    float: left;
    width:30%;
    text-align: center;
    font-size: calc(1.5rem + 1.5vw);
}
#pointsTally_header{
    text-align: center;
    font-size: 30px;

}
